/* *{outline:1px #f00 solid} */
.asd{
    background-color: #f8bf17;
    padding: 5px 0;
    position: relative;
}
.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 0.5em;
    font-weight: 700;
    height: 37px;
}
#btn-asd{
    position: absolute;
    right: 10px;
    background-color: #fff;
    border: none;
} 
.customer-service{
    position: fixed;
    bottom: 65px;
    right: 20px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}
.customer-service img{border-radius: 50%;}

header{
    position: sticky;
    top: 0;
}
.logo-pic{
    margin-left: calc((56 / 1280) * 100%);
    width: 125px;
    display: flex;
    align-items: center;
}
.logo-pic img{vertical-align: top;} 
.logo-pic img{width: 100%;}
.news-ticker{
    background-color: #00142d;
    padding: 100px 50px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}
.news-ticker img{width: 100%;}
.news-ticker section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.news-ticker section h2{
    font-size: 2.4em;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: 50px;
    margin-top: 40px;
}
.news-ticker section h2 span{
    color: #00c66a;
}
.news-ticker section p{
    font-weight: 550;
    line-height: 1.8em;
    margin-bottom: 70px;
}
::placeholder {
    color: #fff;
}
.news-ticker section input{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1em;
    border-bottom: 1px solid #fff;
}
.news-ticker .freeTry-email{
    display: flex;
    height: 3em;
}
.news-ticker section a{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.3em;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    background-color: #0061ff;
    color: #fff;
    margin-left: 20px;
}
.news-ticker section a:hover{background-color: #003199;}
main{padding: 70px 20px 0 20px;}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0 100px 0;
}
.picL{flex-direction: row-reverse;}
.row .paragraph h2{
    font-size: 1.7em;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: 40px;
}
.row .paragraph p{
    line-height: 1.7em;
    margin-bottom: 30px;
}
.row .paragraph ul{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-left: 20px;
    list-style: none;
}
.row .paragraph li{margin-bottom: 5px;}
.row .paragraph li:before{
    content: "✓";
    color: #82b0ff;
    background-color: #deebff;
    border-radius: 50%;
    padding: 5px 0 7px 8px;
    display: inline-block; 
    width: 1.3em;
    height: 1.1em;
    margin-left: -25px;
    margin-right: 7px;
}
.row .paragraph a{
    text-decoration: none;
    color: #0d66ff;
}
.graph{
    order: 1;
    margin-bottom: 40px;
}
.graph:nth-child(even){
    order: -1;
}
.row .graph img{
    width: 100%;
    vertical-align: top;
}
.topic{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.topic h1{
    font-size: 1.7em;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: 40px;
}
.topic p{line-height: 1.7em;}
.hr-style{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
.more-service{
    display: flex;
    flex-wrap: wrap;
    padding: 75px 0;
    box-sizing: border-box;
    background-color: #f4f5f7;
}
.more-service .topic{
    width: 100%;
    font-size: 2.3em;
    font-weight: 700;
    margin-bottom: 50px;
}
.more-service .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px;
}
.more-service .card .pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    background-color: #fff;
}
.more-service .card .pic img{
    width: 65%;
}
.more-service .card .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
}
.more-service .card .content h3{
    margin: 10px;
    font-size: 2.5em;
    font-weight: normal;
}
.more-service .card .content p{
    font-weight: normal;
    padding: 0 20px;
    font-size: 2em;
    line-height: 2em;
}
.foot-tryFree{
    position: relative;
    background-color: #172b4d;
    display: flex;
}
.foot-tryFree .content{
    background-color: transparent;
    color: #fff;
    font-size: 2.5em;
    font-weight: normal;
    flex-wrap: wrap;
}
.foot-tryFree .pic{
    position: absolute;
    left: 20%;
    margin: 50px;
}

@media screen and (max-width: 991px){
    .col-1{width: 8.333333%;}
    .col-2{width: 16.666666%;}
    .col-3{width: 25%;}
    .col-4{width: 33.333332%;}
    .col-5{width: 41.666665%;}
    .col-6{width: 50%;}
    .col-7{width: 58.333333%;}
    .col-8{width: 66.666666%;}
    .col-9{width: 75%;}
    .col-10{width: 83.333333%;}
    .col-11{width: 91.666666%;}
    .col-12{width: 100%;}
    .logo-bar{
        position: sticky;
        top: 0;
        height: 56px;
        display: flex;
        align-items: center;
        background-color: #fff;
        font-size: 0.9em;
    }
    .ham {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        display: block;
        position: absolute;
        right: 40px;
    }  
    .ham-origin {
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .ham-bar {
        height: 1px;
        width: 20px;
        position: absolute;
        background: #000;
        margin: -1px 0 0 -13px;
        transition: all .5s;
    }
    .lang-bar{display: none;}
    .ham-bar--top {transform: translateY(-6px);}
    .ham-bar--bottom {transform: translateY(6px);}
    .logo-menu{display: none;}
    #nav-toggle {display: none;}
    #nav-toggle:checked ~ .logo-menu{
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: #fff;
        padding: 10px;
        box-sizing: border-box;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        display: block;
        font-size: 1.1em;
        line-height: 3em;
    }
    .logo-menu a{
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        border-bottom: 1px solid #eee;
        color: #000;
    }
    #btn-max-freeTry{display: none; }
    #btn-freeTry, #btn-login{
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 2.3em;
        border-radius: 40px;
        margin: 30px;
    }
    #btn-freeTry{
        background-color: #0061ff;
        color: #fff;
    }
    #btn-freeTry:hover{background-color: #003199;}
    #btn-login{
        background-color: #fff;
        color: #0061ff;
        border: 2px solid #0061ff;
    }
    .news-ticker{padding: 50px 20px;}
    .news-ticker section h2{
        margin-bottom: 30px;
    }
    .news-ticker section p{margin-bottom: 40px}

    
}

@media screen and (min-width: 992px) {
    .col-lg-1{width: 8.333333%;}
    .col-lg-2{width: 16.666666%;}
    .col-lg-3{width: 25%;}
    .col-lg-4{width: 33.333332%;}
    .col-lg-5{width: 41.666665%;}
    .col-lg-6{width: 50%;}
    .col-lg-7{width: 58.333333%;}
    .col-lg-8{width: 66.666666%;}
    .col-lg-9{width: 75%;}
    .col-lg-10{width: 83.333333%;}
    .col-lg-11{width: 91.666666%;}
    .col-lg-12{width: 100%;}
    .lang-bar{
        height: 40px;
        background-color: #00142d;
        display: flex;
        justify-content: flex-end;
        font-size: 0.9em;
        color: #d6d8c2;
        padding-right: calc((30 / 1280) * 100%);
    }
    .lang-bar nav{
        width: calc(100% / 5);
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
    .lang-bar a{
        text-decoration: none;
        color: #d6d8c2;
    }
    .lang-bar a:hover{
        color: #66f;
    }
    .logo-bar{
        background-color: #fff;
        height: 85px;
        display: flex;
        align-items: center;
    }
    .logo-bar .logo-pic{
        width: 165px;
    }
    .logo-menu{
        display: flex;
        justify-content: space-around;
        margin-left: calc((65 / 1280) * 100%);
        width: calc((640 / 1280) * 100%);
        white-space:nowrap;
    }
    .logo-menu a{
        text-decoration: none;
        color: #000;
    }
    .logo-menu a:hover{
        color: #0061ff;
    }
    #btn-max-freeTry{
        margin-left: calc((185 / 1280) * 100%);
        background-color: #0061ff;
        text-decoration: none;
        color: #fff;
        width: 90px;
        height: 37px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }
    #btn-max-freeTry:hover{
        background-color: #003199;
    }
    #btn-freeTry{display: none;}
    #btn-login{display: none;}
    #nav-toggle {display: none;}
    .ham {display: none;}  
    main{
        padding: 70px 60px 0 60px;
    }
    .topic{
        margin-bottom: 100px;
    }
    .topic h1{
        font-size: 2.4em;
        margin-top: 30px;
    }
    .row .paragraph h2{
        font-size: 2.2em;
    }
    .row .paragraph p{
        line-height: 1.7em;
        margin-bottom: 30px;
    }
    .graph:nth-child(odd){
        order: -1;
        margin: 40px 0;
    }
    .graph:nth-child(even){order: 1;}
    .row .graph img{
        width: 100%;
        vertical-align: top;
    }
    .more-service .card .content p{
        width: 70%;
    }

}
